
<div class="yourChoiceContainer">
    <div #pictureContainer class="picture-item">
        <img *ngIf="yourChoice=='scissors'" src="../../assets/111-1114370_rock-paper-scissors-rock-paper-scissors-clipart.png">
        <img *ngIf="yourChoice=='rock'" src="../../assets/109-1094400_rock-paper-scissors-png-clipart-rock-paper-scissor.png">
        <img *ngIf="yourChoice=='paper'" src="../../assets/266-2667795_rock-paper-scissors-png-transparent-png.png">
      
    </div>
    <h3>{{yourChoice}}</h3>
</div>

